body {
    background-color: #FFD9EC;
}
h1 {
    text-align: center;
    color: black;
}
h2 {
    margin-left: 60%;
    color: black;
}
p {
    text-indent: 32px;
    font-size: 20px;
    line-height: 32px;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
}
img {
    position: absolute;
    left: 50%;
    margin-left: -181px;
}
address {
    font-size: 20px;
    line-height: 32px;
    color: black;
    margin-left: 21%;
    margin-right: 21%;
}